.main {
  background-image: url("../assets/Home/1.png");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.camera {
  background-image: url("../assets/Home/Audio__Camera.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.appliances {
  background-image: url("../assets/Home/Appliances.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}