.main {
  background-image: url("../images/1.png");
  height: 80vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* justify-content: center;
    align-items: center;
    display: flex; */
}

.camera {
  background-image: url("../images/Audio__Camera.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.appliances {
  background-image: url("../images/Appliances.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
